{% extends 'SMASMABundle:Public:templatedetail.html.twig' %}

{% block body -%}
    <h1>Nilai2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nim</th>
                <td>{{ entity.nim }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ member.nama }}</td>
            </tr>
            <tr>
                <th>Nilaiangka</th>
                <td>{{ entity.nilaiangka }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nilai2') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nilai2_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
