{% extends 'SMASMABundle:Admin:template.html.twig' %}

{% block body -%}
    <h1>Data User</h1>

    <table class="table">
        <thead>
            <tr>
                <th align="center">username</th>
                <th align="center">password</th>
                <th align="center">status</th>
                <th align="center">nama</th>
                <th align="center">Email</th>
                <th align="center">Alamat</th>
           
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center"><a href="{{ path('member_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td align="center">{{ entity.password }}</td>
                <td align="center">{{ entity.status }}</td>
                <td align="center">{{ entity.nama }}</td>
                <td align="center">{{ entity.email }}</td>
                <td align="center">{{ entity.alamat }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('member_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('member_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('member_new') }}"><button class="button">Tambah Data</button></a>
            {% endblock %}
